$background: #fffcf0;
$main: #213558;
$emphasis: #ff0052;
$lighter: #82cde2;
$white: lighten($background, 2%);
$border: darken($background, 10%);
$outside: #25a87e;

$twitter: #1DA1F2;
$facebook: #4867AA;

$pour: #25a87e;
$contre: #E23D21;
$abstention: $main;
$absent: #aaa;
