@import '~styles/colors';

.module {margin-top: 60px;}

.header {
  margin-bottom: 60px;

  h1 {
    background: $main;
    color: $white;
    display: inline-block;
    font-size: 2.2em;
    line-height: 1.2em;
    padding: 6px 12px;
  }

  h1 + div {
    margin: 20px;

    a {
      display: inline-block;
      margin-bottom: 8px;
      text-decoration: none;

      i {color: $lighter;}
    }
  }
}

.content {
  > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;

    a {
      background: $main;
      color: $white;
      display: block;
      font-size: .95em;
      font-weight: 600;
      margin-bottom: 5px;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      transition: background .2s;
      width: calc(100% / 3 - 5px);

      &:global(.active),
      &:hover {
        background: $emphasis;
        text-decoration: none;
      }
    }
  }

  .subnav {
    background: $white;
    border: 1px solid $border;
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    justify-content: center;

    a {
      display: inline-block;
      font-size: .95em;
      margin: 0 8px;
      padding: 3px 10px;
      text-align: center;
      text-decoration: none;

      &:global(.active),
      &:hover {
        background: $emphasis;
        color: $white;
      }
    }
  }

  .subcontent {
    background: $white;
    border: 1px solid $border;
    padding: 30px 40px 75px;
    width: 100%;

    a {font-weight: 600;}
  }

  h2 {
    border-bottom: 1px dashed $lighter;
    font-size: 1.8em;
    margin-bottom: 40px;
    padding: 15px 30px;

    &:not(:first-of-type) {margin-top: 80px;}

    & + div {margin-left: 10px;}
  }

  h3 {margin: 0 0 5px 5px;}

  :global(.fa-ul) {
    margin-bottom: 30px;

    li {margin-bottom: 15px;}

    i {color: $lighter;}
  }
}


@media (max-width: 1023px) {
  .header {margin-bottom: 50px;}

  .content > nav a {
    font-size: .9em;
    padding: 6px 0;
  }
}

@media (max-width: 767px) {
  .module {margin-top: 45px;}

  .header h1 {font-size: 1.5em;}

  .content {
    > nav a {width: calc(100% / 2 - 5px);}

    > div {
      font-size: .95em;
      padding: 15px 20px;
    }

    h2 {
      font-size: 1.5em;
      padding: 15px;

      &:not(:first-of-type) {margin-top: 60px;}
    }
  }
}
