@import '~normalize.css';
@import '~styles/colors';

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $background;
  color: $main;
  font-family: Montserrat, sans-serif;
  line-height: 1.5em;
  padding-bottom: 120px;

  @media (max-width: 1023px) {padding-bottom: 80px;}
  @media (max-width: 1023px) {padding-bottom: 40px;}
}

h1,
h2,
h3,
h4 {margin: 0;}

a {
  color: $main;
  transition: .2s;

  &:hover {color: $lighter;}
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

button,
input {
  color: $main;
  font-family: Montserrat, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparentize($main, .25);
}
::-moz-placeholder { /* Firefox 19+ */
  color: transparentize($main, .25);
}
:-ms-input-placeholder { /* IE 10+ */
  color: transparentize($main, .25);
}
:-moz-placeholder { /* Firefox 18- */
  color: transparentize($main, .25);
}

:global {
  .container {
    margin: auto;
    width: 980px;

    @media (max-width: 1023px) {width: 700px;}
    @media (max-width: 767px) {width: calc(100% - 20px);}
  }

  .flex {
    align-items: flex-start;
    display: flex;

    &.wrap {flex-wrap: wrap;}
    &.space-between {justify-content: space-between;}
  }

  .searchField {
    border-radius: 35px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;

    &:hover {background: $lighter;}

    input {
      background: $white;
      border: 3px solid $main;
      border-radius: 0;
      border-bottom-left-radius: 35px;
      border-top-left-radius: 35px;
      font-size: .95em;
      height: 40px;
      padding: 0 15px;
      transition: border .2s;
      vertical-align: middle;
      width: calc(100% - 45px);

      &:focus {
        border-color: $lighter;
        outline: 0;
      }
    }

    button {
      background: $main;
      height: 40px;
      text-indent: -3px;
      transition: background .2s;
      vertical-align: middle;
      width: 45px;

      &:focus,
      &:hover {
        background: $lighter;
        outline: 0;
      }
    }

    i {color: $white;}
  }

  .rw-widget {color: $main;}

  .rw-dropdown-list {
    cursor: pointer;

    &.rw-open > .rw-widget-container {
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
    }

    &.rw-state-focus,
    &:hover {
      .rw-widget-container {
        box-shadow: none;

        &:hover {box-shadow: none;}
      }
    }

    .rw-widget-input {box-shadow: none;}

    .rw-widget-container {
      background: $main;
      border: 0;
      border-radius: 35px;
      padding: 0 5px;
    }

    .rw-input {
      color: $white;
      font-size: .9em;
      font-weight: 600;
    }

    .rw-btn-select {opacity: 1;}

    .rw-i-caret-down {color: $white;}

    .rw-popup {
      border: 3px solid $main;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .rw-popup-transition {transition: 0s;}

    li {
      border: 0;
      color: $main;
      font-size: .85em;
      line-height: 1.4em;
      padding: 5px;

      &.rw-state-selected,
      &.rw-state-focus {
        border: 0;
        background: $emphasis;
        color: $white;
      }

      &:hover,
      &.rw-state-focus:hover,
      &.rw-state-selected:hover {
        background: $main;
        border: 0;
        color: $white;
      }
    }
  }
}
