@import '~styles/colors';

.module {
  background: $white;
  border: 1px solid $border;
  margin-top: 40px;
  padding: 40px;
  text-align: center;

  img {
    height: 250px;
    margin-top: 30px;
  }
}
