@import '~styles/colors';

.module {
  margin-top: 60px;

  h1 {
    font-size: 1.6em;
    margin-bottom: 45px;
    text-transform: uppercase;

    strong {
      animation: wordAnim .6s;
      color: $emphasis;
      display: inline-block;
    }
  }

  h2 {margin-top: 30px;}
}
@keyframes wordAnim {
  0% {
    color: $main;
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    color: $emphasis;
    transform: translateY(0);
    opacity: 1;
  }
}

.content {
  > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;

    a {
      background: $main;
      color: $white;
      display: block;
      font-size: .95em;
      font-weight: 600;
      margin-bottom: 5px;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      transition: background .2s;
      width: calc(100% / 4 - 5px);

      &:global(.active),
      &:hover {
        background: $emphasis;
        text-decoration: none;
      }
    }
  }

  > div,
  > dl {
    animation: appear .4s;
    background: $white;
    border: 1px solid $border;
    padding: 30px 40px;
    width: 100%;

    a {
      color: $emphasis;

      &:hover {color: $lighter;}
    }


  }

  dt {
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  dd {margin-bottom: 45px;}

  ul {
    margin-bottom: 30px;

    i {color: $lighter;}
  }

  li {margin-bottom: 15px;}
}
@keyframes appear {
  0% {transform: translateY(-30px);}
  100% {transform: translate(0);}
}

@media (max-width: 767px) {
  .module {margin-top: 45px;}

  .content {
    > nav a {width: 100%;}

    > div,
    > dl {
      font-size: .95em;
      padding: 15px 20px;
    }

    dd {margin-left: 15px;}
  }
}
