@import '~styles/colors';

.module {
  article {margin-bottom: 60px;}

  h4 {
    margin: 0;

    span {
      background: $emphasis;
      color: $white;
      display: inline-block;
      font-size: .9em;
      padding: 1px 5px;
    }
  }

  h3 {
    background: $main;
    color: $white;
    display: inline-block;
    font-size: 1.1em;
    margin: 0;
    padding: 3px 6px;
  }

  h3 + div {
    align-items: flex-start;
    display: flex;
    font-weight: 700;
    padding-top: 8px;
    text-transform: uppercase;

    > span {
      color: $white;
      display: inline-block;
      font-size: .85em;
      font-weight: 600;
      margin: -8px 10px 0 0;
      padding: 8px 0;
      text-align: center;
      text-transform: none;
      width: 145px;
    }
  }

  p {
    font-size: .93em;
    line-height: 1.8em;
    margin-left: 20px;

    strong {
      background: $emphasis;
      color: $white;
      margin: 0 2px;
      padding: 2px 6px;
    }

    i {color: $lighter;}
  }
}

.filters > div {width: calc(100% / 2 - 15px);}

.pour {background: $pour;}
.contre {background: $contre;}
.pending {background: $absent;}

@media (max-width: 767px) {
  .filters > div {
    margin-bottom: 10px;
    width: 100%;
  }
}
