@import '~styles/colors';

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    margin: 20px 0 80px;
    width: calc(100% / 2 - 200px);
  }

  h3 {
    border-bottom: 1px dashed $lighter;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 0 0 5px;
    text-align: center;
  }

  p {
    font-size: .95em;
    font-weight: 600;
    text-align: center;

    strong {color: $lighter;}
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  text-align: center;

  > div {
    width: calc(100% / 3 - 70px);

    > strong {
      color: $lighter;
      font-size: 3em;
    }
  }

  h3 {
    border-bottom: 1px dashed $lighter;
    font-size: 1em;
    margin-bottom: 40px;
    padding: 0 0 5px;
    text-align: center;
  }

  p {
    font-size: .95em;
    font-weight: 600;
    text-align: center;

    strong {color: $lighter;}
  }
}


.wordCloud {
  h2 {margin-top: 80px;}

  div {height: 250px;}
}

.works {
  .count {
    border-bottom: 1px dashed $lighter;
    display: inline-block;
    font-size: .9em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  article {margin: 20px 0 40px;}

  h3 {
    background: $main;
    color: $white;
    display: inline-block;
    font-size: .9em;
    margin: 0;
    padding: 2px 6px;
  }

  h3 + div {
    align-items: flex-start;
    display: flex;
    font-weight: 700;
    padding-top: 8px;
    text-transform: uppercase;

    > span {
      color: $white;
      display: inline-block;
      font-size: .85em;
      font-weight: 600;
      margin: -8px 10px 0 0;
      padding: 8px 0;
      text-align: center;
      text-transform: none;
      width: 140px;
    }
  }

  .pour {background: $pour;}
  .contre {background: $contre;}
  .abstention {background: $abstention;}
  .pending {background: $absent;}

  p {
    font-size: .93em;
    line-height: 1.8em;
    margin-left: 20px;

    strong {
      background: $emphasis;
      color: $white;
      margin: 0 2px;
      padding: 2px 6px;
    }

    i {color: $lighter;}
  }
}

.interventions {
  min-height: calc(100vh - 300px);

  .count {
    border-bottom: 1px dashed $lighter;
    display: inline-block;
    font-size: .9em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {margin: 40px 0;}

  h3 {
    font-size: .85em;
    margin: 0;

    span {
      background: $emphasis;
      color: $white;
      display: inline-block;
      margin: 0;
      padding: 2px 5px;
    }
  }

  h4 {
    background: $main;
    color: $white;
    display: inline-block;
    font-size: .95em;
    padding: 4px 6px;
  }

  blockquote {
    background: $background;
    border: 1px solid $border;
    font-size: .9em;
    font-style: italic;
    margin: 30px 15px 0;
    padding: 8px 16px;

    strong {
      background: $lighter;
      color: $white;
      font-style: normal;
      font-weight: 600;
      margin: 0 2px;
      padding: 2px 6px;
    }
  }

  blockquote + div {
    font-size: .95em;
    margin: 10px 15px 70px;

    i {color: $lighter;}
  }
}

@media (max-width: 1023px) {
  .stats {
    > div {
      margin: 10px 0 60px;
      width: calc(100% / 2 - 100px);
    }

    h3 {font-size: .85em;}
  }

  .numbers {
    margin-bottom: 50px;

    div {
      width: calc(100% / 3 - 20px);

      > strong {font-size: 2.2em;}
    }

    h3 {
      font-size: .85em;
      margin-bottom: 30px;
    }
  }

  .wordCloud {margin-bottom: 50px;}
}

@media (max-width: 767px) {
  .stats {
    > div {
      margin: 20px 40px 50px;
      width: 100%;
    }

    h3 {font-size: 1em;}
  }

  .numbers {
    > div {
      margin: 20px 40px 50px;
      width: 100%;

      > strong {font-size: 3em;}
    }

    h3 {font-size: 1em;}
  }

  .interventions blockquote {margin: 20px 0 0;}
}
