@import '~styles/colors';

.stats > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    margin: 20px 60px 50px;
    width: calc(100% / 3 - 120px);
  }

  h3 {
    border-bottom: 1px dashed $lighter;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 0 0 5px;
    text-align: center;
  }
}

.notAvailable {
  color: $emphasis;
  text-align: center;
}

@media (max-width: 1023px) {
  .stats > div > div {
    width: calc(100% / 2 - 120px);
  }
}

@media (max-width: 767px) {
  .stats > div > div {
    width: 100%;
    margin-bottom: 40px;
  }
}
