@import '~styles/colors';

.module {margin-top: 60px;}

.header {
  align-items: flex-start;
  display: flex;
  margin-bottom: 60px;

  header {
    color: $white;
    margin: 0 -15px;
  }

  h2 {
    font-size: 1em;

    span {
      background: $emphasis;
      display: inline-block;
      padding: 4px 6px;
    }
  }

  h1 {
    background: $main;
    display: inline-block;
    font-size: 1.5em;
    padding: 3px 5px;
  }

  button {
    align-self: flex-end;
    background: $outside;
    color: $white;
    font-size: 0.98em;
    font-weight: 600;
    margin: 0 5px 0 auto;
    padding: 8px 16px;
    transition: background .2s;

    &:focus,
    &:hover {
      background: $lighter;
      outline: 0;
    }
  }
}

.photo {
  margin-top: 32px;

  img {display: block;}
}

.infos {margin: 0 15px;}

.contacts {
  margin: 10px -5px 18px;

  a {margin-right: 5px;}

  i {
    background: $lighter;
    color: $white;
    padding: 8px;
    transition: background .2s;

    &:hover {background: $emphasis;}
  }

  :global {
    .fa-facebook-square {background: $facebook;}
    .fa-twitter {background: $twitter;}
  }
}

.data {
  a {
    display: inline-block;
    margin-bottom: 8px;
    text-decoration: none;

    i {color: $lighter;}
  }

  div {font-size: .85em;}
}

.share {
  h1 {
    background: $main;
    font-size: 1.6em;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 30px;
    color: $white;
    margin: -30px -30px 30px;

    strong {
      color: $lighter;
      display: inline-block;
    }
  }

  h1 + div {margin: 0 30px 30px;}

  h2 {
    border-bottom: 1px dashed $lighter;
    font-size: 1em;
    margin-bottom: 15px;
    padding: 5px 10px;

    strong {color: $emphasis;}
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  > div {width: calc(50% - 15px);}
}

.shareChoice {
  display: flex;
  justify-content: space-between;

  img {
    animation: previewAppear .6s;
    height: 300px;
    margin-right: 15px;
    width: 600px;
  }

  a {
    background: $twitter;
    color: $white;
    display: block;
    font-size: 0.98em;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 8px 16px;
    transition: background .2s;

    &:nth-child(2) {background: $facebook;}
    &:nth-child(3) {background: $emphasis;}

    &:hover {background: $lighter;}
  }
}
@keyframes previewAppear {
  0% {opacity: 0;}
  75% {
    transform: scale(.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.content {
  > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;

    a {
      background: $main;
      color: $white;
      display: block;
      font-size: .95em;
      font-weight: 600;
      margin-bottom: 5px;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      transition: background .2s;
      width: calc(100% / 3 - 5px);

      &:global(.active),
      &:hover {
        background: $emphasis;
        text-decoration: none;
      }
    }
  }

  > div {
    background: $white;
    border: 1px solid $border;
    padding: 30px 40px;
    width: 100%;

    a {font-weight: 600;}
  }

  h2 {
    border-bottom: 1px dashed $lighter;
    font-size: 1.8em;
    margin-bottom: 40px;
    padding: 15px 30px;

    &:not(:first-of-type) {margin-top: 80px;}

    & + div {margin-left: 10px;}
  }

  h3 {margin: 0 0 5px 5px;}

  :global(.fa-ul) {
    margin-bottom: 30px;

    li {margin-bottom: 15px;}

    i {color: $lighter;}
  }
}

@media (max-width: 1023px) {
  .header {
    margin-bottom: 45px;

    button {
      font-size: .85em;
      line-height: 1.2em;
      padding: 6px;
    }
  }

  .share {
    h1 {font-size: 1.2em;}

    h1 + div {margin: 0 15px 15px;}
  }

  .shareChoice {
    img {
      margin-right: 10px;
      height: 195px;
      width: 390px;
    }

    a {
      font-size: .85em;
      margin-bottom: 10px;
      padding: 6px 12px;
    }
  }

  .content > nav a {
    font-size: .9em;
    padding: 6px 0;
  }
}

@media (max-width: 767px) {
  .module {
    margin-top: 45px;

    .header {
      display: block;

      button {
        display: block;
        margin: 15px auto 0;
        padding: 10px 12px;
      }
    }

    header {text-align: center;}
  }

  .photo {
    text-align: center;

    img {display: inline-block;}
  }

  .contacts {
    text-align: center;
    margin-bottom: 25px;
  }

  .share {
    h1 {
      margin-bottom: 15px;
      padding: 30px 15px;
      text-align: center;
    }

    h1 + div {margin: 0;}

    h2 {
      font-size: 0.95em;
    }
  }

  .filters {
    display: block;

    > div {
      margin-bottom: 5px;
      width: 100%;
    }
  }

  .shareChoice {
    display: block;

    img {
      height: auto;
      margin-bottom: 5px;
      width: 100%;
    }
  }

  .content {
    > nav a {width: calc(100% / 2 - 5px);}

    > div {
      font-size: .95em;
      padding: 15px 20px;
    }

    h2 {
      font-size: 1.5em;
      padding: 15px;

      &:not(:first-of-type) {margin-top: 60px;}
    }
  }
}
