@import '~styles/colors';

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    margin: 20px 60px 50px;
    width: calc(100% / 3 - 120px);
  }

  h3 {
    border-bottom: 1px dashed $lighter;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 0 0 5px;
    text-align: center;
  }
}

.notAvailable {
  color: $emphasis;
  text-align: center;
}

.keyVotes {
  &:first-child h3 {margin-top: 20px;}

  h3 {
    margin: 60px 0 50px;
    text-align: center;

    span {
      background: $lighter;
      color: $white;
      display: inline-block;
      padding: 5px 20px;
      min-width: 30%;
    }
  }

  > div {
    margin: 20px 0 40px;

    h4 {
      background: $main;
      color: $white;
      display: inline-block;
      font-size: .9em;
      padding: 2px 6px;
    }

    h4 + div {
      text-transform: uppercase;
      font-weight: 700;
    }

    span {
      color: $white;
      display: inline-block;
      font-size: .85em;
      font-weight: 600;
      margin-right: 8px;
      padding: 8px 0;
      text-align: center;
      text-transform: none;
      width: 130px;
    }

    .pour {background: $pour;}
    .contre {background: $contre;}
    .abstention {background: $abstention;}
    .absent {background: $absent;}

    p {
      font-size: .93em;
      line-height: 1.8em;
      margin-left: 20px;

      i {
        color: $lighter;
        margin: 10px 5px;
      }
    }
  }
}

.votesList {
  min-height: calc(100vh - 300px);

  .count {
    border-bottom: 1px dashed $lighter;
    display: inline-block;
    font-size: .9em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {margin: 20px 0 40px;}

  h3 {
    background: $main;
    color: $white;
    display: inline-block;
    font-size: .9em;
    margin: 0;
    padding: 2px 6px;
  }

  div > span {
    color: $white;
    display: inline-block;
    font-size: .85em;
    font-weight: 00;
    margin-right: 8px;
    padding: 8px 0;
    text-align: center;
    width: 130px;
  }

  .pour {background: $pour;}
  .contre {background: $contre;}
  .abstention {background: $abstention;}
  .absent {background: $absent;}

  p {
    font-size: .93em;
    line-height: 1.8em;
    margin-left: 20px;

    strong {
      background: $emphasis;
      color: $white;
      margin: 0 2px;
      padding: 2px 6px;
    }

    i {color: $lighter;}
  }
}

@media (max-width: 1023px) {
  .stats > div {
    width: calc(100% / 2 - 120px);
  }
}

@media (max-width: 767px) {
  .stats > div {
    width: 100%;
    margin-bottom: 40px;
  }
}
