@import '~styles/colors';

.module {
  > div {
    &:first-child {
      span:first-child {background: $lighter;}

      span:last-child {color: darken($lighter, 5%);}
    }

    div {
      display: flex;
      margin-bottom: 15px;
    }

    span:first-child {
      animation: appear .7s linear;
      background: $main;
      display: block;
      height: 34px;
      min-width: 1%;
    }

    span:last-child {padding: 5px 10px;}
  }

  ul {margin-top: 30px;}

  li {margin-bottom: 5px;}
}

@keyframes appear {
  0% {max-width: 0;}
  100% {max-width: 100%;}
}
