@import '~styles/colors';

.module {
  align-items: flex-start;
  display: flex;
  margin-bottom: 80px;

  > div:last-child {width: 100%;}

  a:hover > header {
    h1,
    h2 span {background: $lighter;}
  }

  header {color: $white;}

  h2 {
    font-size: 1em;

    span {
      background: $emphasis;
      display: inline-block;
      padding: 3px 6px;
      transition: background .2s;
    }
  }

  h1 {
    background: $main;
    display: inline-block;
    font-size: 1.13em;
    padding: 1px 5px;
    transition: background .2s;
  }
}

.photo {margin-top: 30px;}

.infos {
  font-size: .82em;
  margin: 2px 15px 0;

  i {color: $lighter;}

  a {color: $main;}
}

.stats {
  background: white;
  border: 1px solid $border;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
  padding: 4px;
  text-align: center;

  h3 {
    border-bottom: 1px dashed $lighter;
    display: inline-block;
    font-size: .92em;
    font-weight: 600;
    line-height: 1.5em;
  }

  div div {
    background: url('../assets/ico-participation.svg') no-repeat center 6px;
    background-size: 25px;
    color: $emphasis;
    padding-top: 30px;
  }

  .dissidence div {
    background-image: url('../assets/ico-dissidence.svg');
    background-position: calc(50% - 4px) 6px;
    background-size: 15px;
  }

  .commission div {
    background-image: url('../assets/ico-commission.svg');
    background-size: 22px;
  }

  .talk div {
    background-image: url('../assets/ico-talk.svg');
    background-size: 13px;
  }
}

.role {
  margin-top: 5px;

  i {color: $emphasis;}
}

@media (max-width: 767px) {
  .module {
    display: block;

    header {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .photo {text-align: center;}

  .infos {margin: 0 5px;}

  .stats {
    margin-top: 10px;
    padding: 10px 5px 0;

    > div {
      margin: 0 5px 10px;
      width: calc(50% - 10px);
    }

    h3 {font-size: .8em;}
  }
}
