@import '~styles/colors';

.module {margin-top: 45px;}

.filters {
  > div {
    margin-bottom: 15px;
    width: calc(100% / 4 - 15px);
  }

  + div {
    margin-bottom: 10px;
    text-align: right;
  }
}

.toggleFilters {display: none;}

@media (max-width: 1023px) {
  .filters > div {width: calc(100% / 2 - 15px);}
}

@media (max-width: 767px) {
  .filters > div {
    margin-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
    width: 100%;
  }

  .displayFilters > div {
    overflow: visible;
    margin-bottom: 10px;
    max-height: 38px;
  }

  .toggleFilters {
    background: $main;
    border-radius: 30px;
    color: $white;
    display: block;
    font-size: .85em;
    font-weight: 600;
    margin: 0 0 10px auto;
    padding: 6px 12px;
    transition: max-height .2s;

    &:focus,
    &:hover {
      background: $lighter;
      outline: 0;
    }
  }
}
